<!--mt for margin top-->
<div class="container mt-5">
  <div class="row">
    <!--
        Bootstrap uses 12 columns
        This means on a large screen (lg), columns are made up of 2 grid columns which
        means there would be 6 elements line-up on the page
        In a medium screen (md), columns are made up of 3 grid columns which means
        there would be 4 elements line-up on the page
        In a small screen (sm), columns are made up of 6 grid columns which means
        there would be 2 elements line-up on the page
    -->
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <!--[ ] square bracket for input and ( ) for output-->
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>
