<nav class="navbar navbar-expand-md navbar-dark bg-primary">

  <div class="container">

    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <!--The routerLinkActive="active" makes use of the .active bootstrap class-->
      <li class="nav-item active" routerLinkActive="active">
        <!--Add a router link based on the routes specified in routes.ts-->
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/list']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>

    <!--
      Copied from https://getbootstrap.com/docs/4.1/components/dropdowns/

      We will use a structural directive *ngIf to determine if the user has loggedIn().  This will change the DOM.

      We also specified the 'dropdown', 'dropdownToggle', and '*dropdownMenu'
      directive from ngx-boostrap package
  -->
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <span class="mr-1">
        <img src="{{photoUrl || '../../assets/user.png'}}" />
      </span>
      <a class="dropdown-toggle text-light"
         dropdownToggle (click)="false">
        <!--Add a pipe titlecase which converts the output into title case-->
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']">
          <i class="fa fa-user"></i> Edit Profile
        </a>
        <div class="dropdown-divider"></div>
        <!--If we remove the href="", the cursor will be change as text cursor instead of pointer-->
        <a class="dropdown-item" (click)="logOut()">
          <i class="fa fa-sign-out"></i> Logout
        </a>
      </div>
    </div>

    <!--
        We will convert this html form into Angular form.  There are two types of form in Angular: template and reactive.
        For now, we will use template
        We will create a "template reference variable" by using the pound/hash sign. Ex. #loginForm, #modelUsername,
        #modelPassword. The character ' - ' is not allowed. Ex. model-username.
        We use #modelUsername or #modelPassword if we need to get its states.  We can just
        remove that if we don't need to refer the input fields
        Ex:
          Username Valid: {{modelUsername.valid}}
          Username Touched: {{modelUsername.touched}}
          Username Dirty: {{modelUsername.dirty}}
          Username Values: {{modelUsername.value | json}}
        We also need a two-way binding from our template (html) to our component (ts).  And in order to do that, we need
        to use a directive called the ngModel directive [(ngModel)]="binding".
        We also need a way for the users to submit the form, so for this, we need the (ngSubmit) event.  We will add it on
        the form level instead of the button.
  -->
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="input-username"
             placeholder="Username" required [(ngModel)]="model.username" #modelUsername="ngModel" />
      <input class="form-control mr-sm-2" type="password" name="input-password"
             placeholder="Password" required [(ngModel)]="model.password" #modelPassword="ngModel" />
      <!--
      We will make the button disabled once the form is not valid by getting the loinForm.valid value
    -->
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

  </div> 

</nav>

<!--
<pre>
  Form Valid: {{loginForm.valid}}
  Form Touched: {{loginForm.touched}}
  Form Dirty: {{loginForm.dirty}}
  Form Values: {{loginForm.value | json}}
  Username Valid: {{modelUsername.valid}}
  Username Touched: {{modelUsername.touched}}
  Username Dirty: {{modelUsername.dirty}
  Username Values: {{modelUsername.value | json}}
  Password Valid: {{modelPassword.valid}}
  Password Touched: {{modelPassword.touched}}
  Password Dirty: {{modelPassword.dirty}}
  Password Values: {{modelPassword.value | json}}
</pre>
-->
