<!--
      We need to use an elvies/ ? / save navigation operator to fix the error
      ERROR TypeError: Cannot read property 'knownAs' of undefined
      But this is fixed by adding member-detail.resolver.ts

      {{user?.knownAs}} or

      <img class="card-img-top img-thumbnail" src="{{user?.photoUrl || '../../../assets/user.png'}}" alt="{{user?.knownAs}}" />
  -->


<div class="container mt-4">
  <div class="row">
    <!--Column 1-->
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <!--Column 2 which contains an alert that highlights the changes we have made-->
    <div class="col-sm-8">
      <!--
          We will hide this and we will only show this once the user has changes being made
          and he will exit the page without clicking the save button.
      -->
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have made changes.  Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <!--
        On the left hand side, we will display some general information about the user
        including the photo
    -->
    <!--Column 1-->
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}" />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <!--
              We will be using pipes '|' to specify this field is of type date

              We can use options like date: 'medium' or date: 'mediumDate'
              -->
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <!--
              We assign this button to the form with id='editForm' so that
              this will trigger the submit event of the form
          -->
          <button [disabled]="!editForm.dirty" form="editForm"
                  class="btn btn-success btn-block">
            Save Changes
          </button>
        </div>
      </div>
    </div>
    <!--
        On the right hand side, we will have a sort of tab panel where we are going to display
        the users's' photos, description about the user, section for messages, and
        section for interest

        .member-tabset, .tab-panel class will be targetted using global styles under styles.css
    -->
    <!--Column 2-->
    <div class="col-sm-8">
      <div class="tab-panel">
        <!--
            Taken from https://valor-software.com/ngx-bootstrap/#/tabs
        -->
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <!--
                We gave our form an attribute of 'id' since our 'Save Changes'
                button does not belong to the form and we need to assign it
                to the button element
            -->
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Description</h4>
              <textarea class="form-control" name="introduction" rows="6"
                        [(ngModel)]="user.introduction"></textarea>
              <h4>Looking For</h4>
              <textarea class="form-control" name="lookingFor" rows="6"
                        [(ngModel)]="user.lookingFor"></textarea>
              <h4>Interest</h4>
              <textarea class="form-control" name="interest" rows="6"
                        [(ngModel)]="user.interest"></textarea>
              <h4>Location Details:</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" [(ngModel)]="user.city" />
                <label for="country">Country</label>
                <input class="form-control" type="text" name="country" [(ngModel)]="user.country" />
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor [photos]="user.photos"
                              (getMemberPhotoChange)="updateMainPhoto($event)">
            </app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
